@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  display: grid;
  max-height: 100vh;
  grid-template-columns: 0.5fr 3fr;
  color: #000000;
}

/* sidebar start */
.sidebar {
  background-color: #6d28da;
  color: #ffffff;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 40px;
  padding: 1.5rem;
  font-size: 1.3rem;
  transition: all 0.2s ease-out;
}

.sidebar-heading {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
}
.sidebar-heading:hover {
  transform: translate(0, -5px);
}
.sidebar-heading .dash-image {
  width: 45px;
}

.top-nav .profile-list {
  list-style-type: none;
}
.top-nav .profile-list li {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 10px;
}
.top-nav .profile-list li:hover {
  transform: translate(0, -5px);
}

.setting-list li {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 10px;
}
.setting-list li:hover {
  transform: translate(0, -5px);
}

.simple-icon {
  width: 30px;
}

/* sidebar end */
/* header start */
.header {
  grid-column: 2/3;
  box-shadow: 0px 15px 10px -15px;
  transition: all 0.2s ease-out;
  padding: 0.5rem;
  position: relative;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 1rem;
}

.search-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}
.search-container .search-icon {
  width: 25px;
}
.search-container .search-icon:hover {
  transform: translate(0, -5px);
}
.search-container input {
  background-color: #e6e6e6;
  width: 600px;
  padding: 5px;
  border-radius: 30px;
  border: none;
}

.profile-bar {
  display: grid;
  grid-template-columns: repeat(2, 70px) 1fr;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.noti-icon {
  width: 35px;
}
.noti-icon:hover {
  transform: translate(0, -5px);
}

.profile-img-small {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  border-radius: 50%;
}
.profile-img-small:hover {
  transform: translate(0, -5px);
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 1rem;
}

.profile-tab {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  font-weight: 700;
  transition: all 0.2s ease-out;
}
.profile-tab .profile-img-large {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.profile-tab .profile-img-large:hover {
  transform: translate(0, -5px);
}
.profile-tab .profile-greeting .name {
  font-size: 1.7rem;
}
.profile-tab .profile-greeting:hover {
  transform: translate(0, -5px);
}

.profile-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.profile-post .profile-button {
  background-color: #6d28da;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 20px;
}
.profile-post .profile-button:hover {
  transform: translate(0, -5px);
}

/* header end */
/* main start */
.main {
  display: grid;
  grid-template-columns: 2fr 300px;
  grid-template-rows: 0.5fr 1fr;
  gap: 30px;
  padding: 1rem 0.5rem 0 0.5rem;
  background-color: #e6e6e6;
}

.project-display {
  grid-row: 1/3;
  margin-left: 1rem;
}
.project-display .project-heading {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.project-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 0.5fr));
  grid-template-rows: repeat(3, 250px);
  gap: 30px;
}

.project {
  background-color: #ffffff;
  box-shadow: -8px 0px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 10px solid #6d28da;
}
.project .project-content {
  padding: 1rem;
}
.project .project-content .project-title {
  font-size: 1.4rem;
  font-weight: 700;
}
.project .project-content .project-description {
  font-size: 1.1rem;
}

.project-icons .interactions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 10px;
  list-style-type: none;
}
.project-icons .interactions .interact-icons {
  width: 25px;
}

.announcements {
  grid-column: 2/-1;
}

.announcements-heading {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.announcements-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
}
.announcements-card .announcement-title {
  font-weight: 700;
}
.announcements-card hr {
  margin: 10px 0;
}

.trending-section {
  grid-column: 2/-1;
}

.trending-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
}

.trending-profile {
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  padding: 0.5rem;
}
.trending-profile .trending-img {
  width: 50px;
}
.trending-profile .trending-img_crop {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.trending-profile-info .trending-username {
  font-weight: 700;
}

/* main end */